/* Header */
header{
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
}
body{
    padding-inline: 26%;
}
nav{
    /* If I add flex class to nav in html, it opens the hamburger upon resizing instead of click*/
    display: flex;
    gap: 1rem;
}
nav a:hover{
    color:var(--senary);
    transition: all 0.25s ease;
}

/* Hamburger */
#menu-toggle { display: none; }

.menu-toggle-label {
  display: none;
  font-size: 30px;
  cursor: pointer;
}
.logo>img{
    width: 3rem;
    height: 3rem;
}

.hello-button {
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    border: 2px solid var(--senary);
    background-color: var(--button);
    color: var(--senary);
}

.hello-button:hover {
    color: var(--button);
    transition: all 0.25s ease;
    background-color: var(--senary);
    /*background-color: color-mix(in srgb, rgb(247,202,38),#333 5%);*/
    border: 2px solid var(--button);
}

h1{    
    font-size: var(--h1);
    font-weight: 700;
    color: var(--senary);
    margin: 0;
    padding: 0;
    margin-top: 3rem;
}
h2{
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--senary);
}
small{  
    font-size: var(--h6);
    color: var(--quarternary);
}
/* Main */
.name-title{
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.cloud-img{
    width: 70%;
    height: auto;
    z-index: 0;
    transform: translateX(20%);
    padding-top: 1%;
}
.intro{
    font-size: var(--h2);
    text-align: center;
    vertical-align: middle;
    /* Position over the cloud*/
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}
/* Work */
.work-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-columns: 100px;
    gap: 1rem;
    text-overflow: ellipsis;
}
.card{
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border: 2px solid var(--secondary);
    padding: 1rem;
    width:100%;
}
.img-card{
    max-width: 100%;
    height: auto;
    border-radius: 16px;
}
.work-title{
    color: var(--quarternary);
    font-weight:bold;
    font-size: var(--h4);
    margin-bottom: 0.5rem;
    margin-top: 0.3rem;
}
.description{
    color: var(--tertiary);
    font-size: var(--h6);
}
/* About */
.about p{
    color: var(--tertiary);
    margin-bottom: 1rem;
}
/* Knowledge */
.knowledge ul{
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
}
.knowledge li{
    border: 1px solid #333;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 16px;
}
.knowledge li i{
    font-size: var(--h4);
}
.knowledge li p{
    font-size: var(--h5);
}
/* Contact Form */
.contact{
    gap: 1rem;
    flex-direction: column;
    margin-bottom: 1rem;
}
.thanks{
    text-align: center;
    color: var(--senary);
}
.flex-input{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.field{
    width: 100%;
    border: 1px solid #333;
    border-radius: 5px;
    margin-top: 0.5rem;
    padding:  0.5rem;
}
.input-fullwidth{
    width: 100%;
    margin-top: 0.5rem;
}
label{
    color: var(--tertiary);
    font-size: var(--h5);
}
textarea{
    line-height: 2;
    width: 100%;
    border-radius: 10px;
    margin-top: 0.5rem;
    padding:  0.5rem;
}
.submit-button{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
}
input[type=submit]{
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    border: 2px solid var(--senary);
    background-color: var(--button);
    color: var(--senary);
}
input:focus, textarea:focus{ 
    outline: none !important;
    border-color: var(--quarternary);s
}
/* Footer*/
.foot{
    text-align: center;
    margin-bottom: 2rem;
}
/* Fonts*/

a{   
    font-size: var(--h5);  
    color: var(--tertiary);
    transition: all 1s;
}
input[type='checkbox']:not(:checked)+ul {
    display: none;
}
@media (max-width: 800px){
    body{padding-inline: 15%;}
    .intro{font-size: var(--h3);}
    header nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: calc(3.5rem);
        right: 0;
        width: 100%;
        background-color: var(--primary);
        height: calc(100% - 50px - 2rem);
        text-align: center;
        z-index: 10;
        animation: menu 0.4s ease-out forwards;
    }
    @keyframes menu {
        from{ transform: translateX(100%); }
        to{ transform: translateX(0%); }
    }
    #menu-toggle:checked + .menu-toggle-label + nav { 
        display: flex; 
        color:var(--senary); 
    }
    .menu-toggle-label { display: block; }
    nav a { 
        color: var(--senary);
        font-size: var(--h2);
        padding: 1.25rem;
    }
}
@media (max-width: 540px){
    body{padding-inline: 10%;}
    .intro{font-size: var(--h4);}
}
@media (max-width:480px){
    .flex-input{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
@media (max-width: 420px){
    body{padding-inline: 8%;}
    .intro{
        font-size: var(--h5);
        top: 30%;
    }
    .cloud-img{
        width: 80%;
        height: auto;
        z-index: 0;
        transform: translateX(10%);
        padding-top: 1%;
    }
}
@media (max-width: 350px){
    body{padding-inline: 6%;}
    .intro{
        font-size: var(--h6);
        top: 30%;
    }
    h1{    
        font-size: var(--h2);
    }
    .card{
        padding: 1rem;
        max-width: 100%;
    }
    .cloud-img{
        width: 85%;
        height: auto;
        z-index: 0;
        transform: translateX(10%);
        padding-top: 1%;
    }
    .work-grid{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-overflow: ellipsis;
    }
}
@media (max-width: 230px){
    .cloud-img{
        width: 90%;
        height: auto;
        z-index: 0;
        padding-top: 1%;
        transform: translateX(5%);
    }
    .intro{
        font-size: var(--h7);
        top: 20%;
    }
    .work-title{
        font-weight:bold;
        font-size: var(--h6);
    }
}