/* For mobile phones: */

/* Header */
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
}
body{
    padding-inline: 26%;
}

nav{
    display: flex;
    gap: 1rem;
}
nav a:hover{
    color:var(--quarternary);
}
/*#menu-toggle { display: none; }
.menu-toggle-label {
    display: none;
    font-size: 30px;
    cursor: pointer;
}*/
.logo>img{
    width: 3rem;
    height: 3rem;
}

.hello-button {
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    margin: 0;
    border: 2px solid var(--senary);
    background-color: var(--button);
    color: var(--senary);
}

.hello-button:hover {
    color: var(--button);
    transition: all 0.25s ease;
    background-color: #333;
    border: 2px solid var(--button);
}

h1{    
    font-size: var(--h1);
    font-weight: 700;
    color: #111;
    margin: 0;
    padding: 0;
    margin-top: 5rem;
}
h2{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
small{  
    font-size: var(--h6);
    color: var(--quarternary);
}
/* Main */
.name-title{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.cloud-img{
    width: 100%;
    height: auto;
    justify-content: center;
    z-index: 0;
}
.intro{
    font-size: var(--h2);
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    /* Position over the cloud*/
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}
/* Work */
.work-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-columns: 100px;
    gap: 1rem;
    text-overflow: ellipsis;
}
.card{
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border: 2px solid var(--secondary);
    padding: 1rem;
}
.img-card{
    width: 100%;
    height: auto;
    border-radius: 16px;
}
.work-title{
    color: var(--quarternary);
    font-weight:bold;
    font-size: var(--h4);
    margin-bottom: 0.5rem;
    margin-top: 0.3rem;
}
.description{
    color: var(--tertiary);
    font-size: var(--h6);
}
/* About */
.about p{
    color: var(--tertiary);
    margin-bottom: 1rem;
}
/* Knowledge */
.knowledge ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
}
.knowledge li{
    border: 1px solid #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 16px;
}
.knowledge li i{
    font-size: var(--h4);
}
.knowledge li p{
    font-size: var(--h5);
}
/* Contacts */
/* Footer*/
.foot{
    text-align: center;
}
/* Fonts*/

a{   
    font-size: var(--h5);  
    color: var(--tertiary);
}

@media (max-width: 950px){
 
}
@media (max-width: 800px){
    body{padding-inline: 15%;}
    .intro{font-size: var(--h3);}
    header nav {
        display: none;}
    /*   flex-direction: column;
        position: absolute;
        top: calc(50px + 2rem);
        right: 0;
        width: 100%;
        background-color: #aaa;
        height: calc(100% - 50px - 2rem);
        text-align: center;
        z-index: 10;
        animation: menu 0.4s ease-out forwards;}*/

    /*@keyframes menu {
        from{ transform: translateX(100%); }
        to{ transform: translateX(0%); }*/

   /* #menu-toggle:checked + .menu-toggle-label + nav { display: flex; }
    .menu-toggle-label { display: block; }
    nav a { padding: 1.25rem; }*/
    }
@media (max-width: 350px){
    .intro{font-size: var(--h5);}
}